body {
    background-color: #d19ee0;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/pexels-photo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Index page jumbotron*/
.jumbotron{
    padding: 0px;
}
.frontPagePicture {
    background-image: url('../images/pexels-photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding: 100px;
}

.frontPageThumbnail
{
    text-align: center;
}

.signInForm{
    text-align:center;
}

.form-group{
    text-align: center;
}
.form-control{
    display:inline;
}

.registerButton{
    text-align:center;
    float:inherit;
}